<h1>Welcome to the Finance Tracker App <%= current_user.first_name %></h1>
<p>Your Details:</p>
<pre>
    Country:<%= @country %>
    City:<%= @city %>
    Address:<%= @address %>
    Primary Currency:<%= @currency %>
    Ip Address:<%= @ip_adress %>
</pre>
