<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if notice || alert%>
        <%= render 'layouts/messages'%>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <script>
  // fade the notice out after 2 seconds
  window.setTimeout("document.querySelector('#successMessage').style.display='none';", 2000);
</script>
</html>
